@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

body {
  background-color: #F24236 !important;
  font-family: 'Playfair Display', serif;
  font-display: ital;
  font-size: 30px;
  color: yellow;
}
#txtTurnCount{
  font-size: 40px;
}
#txtTitle{
  font-size: 50px; 
  margin: 1% 0; 
}
#txtGuide{
  font-size: 20px;
}
a {
  color: yellow !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: green;
}
.btn{
  font-size: 1.5rem;
}
.container{
  max-width: 100%;
}
.background-img{
  position: fixed;
  width: 10%;
  height: auto;
}
.background-img-left{
  transform: translate(10%, 60%);
}
.background-img-right{
  transform: translate(900%, 60%);
}
.first-items{
  margin-top: 10%; 
  position: fixed;
}

.disabledbutton {
  pointer-events: none;
  color: gray;
  opacity: 0.8;
}
.disabledImage {
  filter: grayscale(100%);
}

.image-fit{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.tab-content{
  margin-top: 2%;
}

 /* flip box */
 .flip-box {
   margin: 0 5px;
  object-fit: cover;
  display: inline-block;
  background-color: transparent;
  width: 30%;
  height: 25vh;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-box div, img{
  border-radius: 5px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box.active .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back p{
  margin-top: 50%;
  font-size: 30px;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}


/* snow drop */
.outer-container {
  text-align: center;
}
.drop {
	position: absolute;
	top: 0;	
	z-index: -1;
  opacity: 0;
}
.snow {
	height: 8px;
	width: 8px;
	border-radius: 100%;
  background-color: #FFF;
  box-shadow: 0 0 10px #FFF;
  /* color: white;
  width: auto;
  height: auto;
  font-size: 50%; */
}
.animate {
	animation: falling 70s infinite;	
}
@keyframes falling {
	 0% {top: 0; opacity: 1;}
	100% {top: 100vh; opacity: 0.1} 
}

/* responsive */
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /*-- Code cho màn hình vừa (Table) viết ở đây --*/
  /* .flip-box-back p{
    margin-top: 40%;
    font-size: 30px;
  }
  .first-items{
    margin-top: 0%;
    position: fixed;
  }
  body{
    background-color: blue !important;
  } */
}

@media only screen and (min-width: 1025px) {
  /*-- Code cho màn hình lớn (PC) viết ở đây --*/
  .flip-box-back p{
    margin-top: 40%;
    font-size: 30px;
  }
  .flip-box {
    height: 60vh;
  }
  .first-items{
    margin-top: 0%;
    position: fixed;
  }
  .btn{
    font-size: 1.2rem;
  }
  body{
    /* background-color:black !important; */
    font-size: 20px;
  }
  #txtTurnCount{
    font-size: 30px;
  }
  .image-fit{
    object-fit: cover;
  }
  @keyframes falling {
     0% {top: 0; opacity: 1;}
    100% {top: 1500px; opacity: 0.1} 
  }
}